body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  position: relative;
}

h1 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 5em;
  color: white;
}

p {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

input[type=email] {
    width: 100px;
    transition: ease-in-out, width .35s ease-in-out;
}
input[type=email]:focus {
  width: 250px;
}

#cta {
  margin-top: 75%;
}

#mc_embed_signup {
  font-family: 'Montserrat', sans-serif;
  color: white;
}
font-family: 'Rubik Mono One', sans-serif;
font-family: 'Amatic SC', cursive;
